<footer>
      <p>Copyright© <span><i class="bi bi-incognito"></i></span> Talaku <span><i class="bi bi-incognito"></i></span>  <%=  new Date().getFullYear() %></p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>