<%- include("partials/header.ejs") %>
<div class="container">
       
        <p class="key"><i class="bi bi-incognito"></i></p>
       
        <h1 class="secret-head"><span class="s-sec">S</span>ECRETS</h1>

        <ul class="secret-home" > 
               <li class="home-regi">
                <a class="main-reg" href="/register">
                        <button class="btn btn-outline-secondary">Register</button>
                </a>
                </li>
                
                <li class="home-regi">
                        <a class="main-login" href="/login">
                                <button class="btn btn-outline-secondary">Login</button>
                                </a>
                                </li>

        </ul>
</div>


<%- include("partials/footer.ejs") %>