


<%- include("partials/header.ejs") %>

    <div class="container">
        <p class="secretKey"><i class="bi bi-key-fill"></i></p>
            <hr>
        <h2 class="helloSecret">Hello Secrets!</h2>

        <section >
           <a class="secretWeb"   href="https://www.imdb.com/title/tt33096172/">secrets</a>
        </section>
        <section >
           <a  class="secretKeyWeb" href="https://www.cia.gov/stories/story/ten-fascinating-cia-missions/">Secret ten-fascinating-cia-missions</a>
        </section>
        <span>more secrets...?</span>
        <br>
        <form action="/">
             <button type="submit" class="btn btn-outline-secondary">Logout</button>
        </form>
    </div>

    <%- include("partials/footer.ejs") %>